boost_/
GateServer/mysql/
GateServer/*.dll
GateServer/*.lib
VarifyServer/node_modules/
**/.vs/
**/x64/
**/Debug/
**/Release/
*.user
*.obj
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.log
.DS_Store
Thumbs.db

# Qt build artifacts
**/build/
**/bin/
**/debug/
**/release/
**/.qtcreator/
**/.qmake.stash
**/Makefile
**/Makefile.Debug
**/Makefile.Release
**/ui_*.h
**/moc_*.cpp
**/qrc_*.cpp
*.exe
*.dll
*.a
*.lib
*.o
*.zip
